body {
    font-family: Arial, sans-serif;
    background-image: url('beyondyourknowledge.jpg');
    background-size: cover;
    background-position: center;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center 5%;
    color: #423e3e;
}

.container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #000;
}

input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 20px;
    background-color: #00b32d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00b32d;
}